In [1]:
import pandas as pd

In [2]:
import scipy
import numpy as np
from scipy import stats

In [4]:
data=pd.read_csv("C:/Users/91814/Downloads/buyerratio.csv")

In [5]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
data1=data.drop(['Observed Values'],axis=1)

In [7]:
data1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [8]:
from scipy.stats import chi2_contingency

In [9]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [10]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
# Compare p_value with α = 0.05
#Inference: As (p-value = 0.6603) > (α = 0.05); 
    #Accept the Null Hypothesis i.e. Independence of categorical variables Thus,
   # male-female buyer rations are similar across regions and are not related